<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="sshHost" value=""/>
		<add key="sshUser" value=""/>
		<add key="sshKeyPath" value=""/>
		<add key="sshKeyPassPhrase" value=""/>
		
		<add key="dbHost" value=""/>
		<add key="dbPort" value=""/>
		<add key="dbUser" value=""/>
		<add key="dbPass" value=""/>
		<add key="dbName" value=""/>
	</appSettings>
</configuration>